* {
    margin: 0px;
}
body {
    box-sizing: border-box;
}
.container1-partner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(./images/01/img1.jpg);\
}
.text {
    text-align: center;
    color: white;
}
input {
    width: 300px;
}
.container2-partner1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}
